@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@font-face {
    font-family: 'October Crow';
    src: url('./plantillas/phasmo.ttf') format('truetype');
}
@font-face {
    font-family: 'Depot New';
    src: url('./plantillas/DepotNew-Regular.ttf') format('truetype');
}

* {
    font-family: Lato;
    font-style: normal;
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo {
    width: 300px;
}
.logo img {
    height: 50%;
    text-align: left;
    margin-top: 30px;
    margin-left: 10px;
}

header {
    height: 97.5vh;
    width: 100%;
    padding: 0 0 0 30px;
}

.headerourgame header {
    height: auto;
}

.headerourgame {
    background-image: url(imagenes/im2/this3.jpg);
}

header nav ul {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    background-color: rgb(0, 0, 0, 0.3);
} /*la barra sea un bloque, añade scroll horizontal si no entra*/

header nav ul li {
    width: 15em;
    height: 100%;
}

header nav li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 100%;
}

header nav li a:hover,
.active {
    background-color: rgba(255, 255, 255, 0.048);
}

body {
    background-color: #000000; /*color fondo*/
    background-image: url(imagenes/im2/this4.avif); /*imagen de fonod*/
    background-position: top center; /*se acomoda arriba en el medio*/
    background-repeat: no-repeat; /*que no se repita si no abarca toda la pantalla*/
    background-size: cover; /*que ocupe toda la pantalla si es pequeña*/
    background-attachment: fixed;
}

.no-attachment {
    background-image: none;
}

.header-index {
    background-color: #000000; /*color fondo*/
    background-image: url(imagenes/im2/this4.avif); /*imagen de fonod*/
    background-position: top center; /*se acomoda arriba en el medio*/
    background-repeat: no-repeat; /*que no se repita si no abarca toda la pantalla*/
    background-size: cover; /*que ocupe toda la pantalla si es pequeña*/
}

.cabezal {
    display: flex;
    flex-direction: column;
    color: #c3dad2;
    padding: 0.8em;
    align-items: center;
    justify-content: flex-end;
    height: 78%;
}

aside {
    width: 28%;
    float: right;
    height: 20em;
    background-color: rgb(0, 0, 0);
    color: #c3dad2;
    padding: 0.8em;
}

.presentacion {
    text-align: center;
    margin-left: center;
}
.presentacion p {
    font-size: 14px;
    margin: 0 280px;
}

footer {
    clear: both;
    background-color: rgb(0, 0, 0);
    color: #c3dad2;
}

.textfot {
    margin-left: 80px;
}

.socialmedia {
    display: flex;
    gap: 15px;
    padding: 40px 0px 30px 78px;
}

.socialmedia img {
    width: 30px;
}

.socialmedia svg {
    font-size: 30px;
    color: white;
}

.phasmolo {
    justify-self: center;
    text-align: center;
    margin-bottom: 330px;
}
.phasmolo h1 {
    font-family: 'October Crow';
    font-size: 10em;
    color: white;

    font-weight: normal;
}
.requisitos {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin: 64px 0 64px 0;
}



.requisitos section {
    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 40px;
    
    /* align-items: flex-end; */
}

.requisitos-contenido {
    display: flex;
    gap: 100px;
}

.requisitos-contenido pre {
    white-space: pre-line;
}

.requisitos h2 {
    font-family: Depot New;
font-size: 1.3em;
    font-weight: normal;
    border-width: 1px  ;
    border-style: solid;
    border-image: linear-gradient(to right, white, rgba(255, 255, 255, 0));

  }



.requisitos h3 {
  font-size: 0.9em;
  margin-bottom: 10px;

  
}

/* CSS para ghost.html */

.header-ghost {
    height: auto;
}

.ghost-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 600px;
    width: 100%;
    margin: 32px 0;
}
.ghost-boxes {
    display: flex;
    margin: 0 397px 0 auto;

    /* box-shadow:  1px 1px 3px #2a2a2a, -1px -1px 3px #3c3c3c; */
}

.ghost-box {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    width: 0;
    font-size: 2em;
    transition: width .3s ease-in, visibility .5s ease-in, opacity .5s ease-in;
}

.ghost-box h2 {
    color: white;
    position: absolute;
    text-align: center;
    bottom: 38px;
    z-index: 1;
    font-size: 0.5em;
  
    text-transform: uppercase;
}

.ghost-box img {
    position: absolute;
    z-index: 0;
    height: 100%;
}


.ghost-box.ghost-active {
    opacity: 1;
    visibility: visible;
    height: 100%;
    width: 600px;
}

.ghost-nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 20px;
    margin-right: 200px
}

.ghost-nav button {
    height: 60px;
    padding: 4px 8px;
    border-radius: 8px;
    /* background-color: red; */
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color .2s ease;
}
.ghost-nav button:hover, .ghost-nav-active {
    background-color: rgba(255, 255, 255, 0.048) !important;
}

.ghost-nav-active {
    position: relative;
}

.ghost-nav-active::before{
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 0;
    height: 2px; 
    background-color: rgb(255, 183, 183);
    animation: grow 0.4s ease-in-out forwards;
}

@keyframes grow {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
