@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@font-face {
  font-family: 'October Crow';
  src: url(
   './plantillas/phasmo.ttf' 
  )format('truetype') ;
}
@font-face {
  font-family: 'Depot New';
  src: url(
   './plantillas/DepotNew-Regular.ttf' 
  )format('truetype') ;
}

*{
 font-family: Lato;
 font-style: normal;
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    
}
.logo img {
  height: 50%;
  text-align: left;
 margin-top: 30px;
 margin-left: 10px;
}

header{
    height: 97.5vh;
    width: 100%;
    padding: 0 0 0 30px;
    
}

.headerourgame header{
height: auto;
}

.headerourgame {
  background-image: url(imagenes/im2/this3.jpg);
}




ul {
  list-style: none;
  display: flex;
  flex-direction: row;
justify-content: center;
}

header nav {

  display:flex;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  background-color: rgb(0, 0, 0, 0.3) ;
} /*la barra sea un bloque, añade scroll horizontal si no entra*/

header nav ul li {
  width: 15em;
height: 100%;
}

header nav li a {
    display: flex;
align-items: center;
justify-content: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  height: 100%;
  
}

header nav li a:hover, .active {
  background-color: rgba(255, 255, 255, 0.048);
  

}


body {
  background-color: #000000; /*color fondo*/
  background-image: url(imagenes/im2/this4.avif) ; /*imagen de fonod*/
  background-position: top center; /*se acomoda arriba en el medio*/
  background-repeat: no-repeat; /*que no se repita si no abarca toda la pantalla*/
  background-size: cover; /*que ocupe toda la pantalla si es pequeña*/
 background-attachment: fixed;
}

.no-attachment {
  background-image: none;
}

.header-index{
  background-color: #000000; /*color fondo*/
  background-image: url(imagenes/im2/this4.avif) ; /*imagen de fonod*/
  background-position: top center; /*se acomoda arriba en el medio*/
  background-repeat: no-repeat; /*que no se repita si no abarca toda la pantalla*/
  background-size: cover; /*que ocupe toda la pantalla si es pequeña*/

}

.cabezal {
 display: flex;
flex-direction: column;
  color: #c3dad2;
  padding: 0.8em;
  align-items: center;
  justify-content: flex-end;
height: 78%;

}

aside {
  width: 28%;
  float: right;
  height: 20em;
  background-color: rgb(0, 0, 0);
  color: #c3dad2;
  padding: 0.8em;
}


.presentacion {

text-align: center;
margin-left: center;

}
.presentacion p {
  font-size: 14px;
  margin: 0 280px;
}


footer {
  clear: both;
  background-color: rgb(0, 0, 0);
  color: #c3dad2;
  
}


.textfot {
  margin-left: 80px;
  
}

.socialmedia{
display: flex;
  gap: 15px;
  padding: 40px 0px 30px 78px ;
}


.socialmedia img {
  width: 30px;
 
}

.socialmedia svg{
  font-size: 30px;
  color: white;
}

.phasmolo {
justify-self: center;
  text-align: center;
  margin-bottom: 330px;

 
}
.phasmolo h1 {
  font-family: 'October Crow';
  font-size: 10em;
  color: white;

font-weight: normal;
}
 




.requisitos H2{
  font-family: Depot New;
  font-size: 1.1em;
  color: white;

font-weight: normal;
}