.carrousel {
    position: relative;
    width: 1300px;
    height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: black;//
    /*border: 1px solid rgb(29, 27, 27);*/
}

.carrousel-slider {
    width: 100%;
    height: 100%;
}

.carrousel-slide-1 {
    display: none;
    background-image: url(imagenes/im2/swiper1.jpg);
}

.carrousel-slide-2 {
    display: none;
<<<<<<< HEAD
    background-image: url(imagenes/im2/swiper2.jpg);
=======
    background-image: url(imagenes/im2/dots\ campamernto.jpg);
>>>>>>> main
}

.carrousel-slide-3 {
    display: none;
<<<<<<< HEAD
    background-image: url(imagenes/im2/swiper3.webp);
=======
    background-image: url(imagenes/multi2.webp);
>>>>>>> main
}

.carrousel-slider div.slide-active {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    justify-content: center;
    align-items: center;
=======
    justify-content: flex-end;
    align-items: flex-start;
    
    
>>>>>>> main
}

.carrousel-prev,
.carrousel-next {
    position: absolute;
    height: 100%;
    width: 60px;
    background: transparent;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.473);
    cursor: pointer;
    transition: background-color .1s ease-in;
}
.carrousel-prev:hover,
.carrousel-next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.carrousel-prev {
    left: 0px;
}

.carrousel-next {
    right: 0px;
}

.carrousel-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.aboutgame h1 {
    font-family: OpenSans;
    font-size: 2em;
    color: white;

    font-weight: normal;
}

<<<<<<< HEAD
.aboutgame p {
    font-family: Depot New;
    font-size: 1.1em;
    color: white;

=======
.aboutgame pre {
    font-family: Depot New;
    font-size: 1.1em;
    color: white;
    white-space: pre-line;
>>>>>>> main
    font-weight: normal;
}

.aboutgame {
    margin-left: 80px;
    margin-right: 80px;
<<<<<<< HEAD
=======
    margin-bottom: 30px;
>>>>>>> main
}
