.carrousel {
    position: relative;
    width: 81.25rem;
    height: 37.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: black;//
    /*border: .0625rem solid rgb(29, 27, 27);*/
}

.carrousel-slider {
    width: 100%;
    height: 100%;
}

.carrousel-slide-1 {
    display: none;
    background-image: url(imagenes/im2/swiper1.jpg);
}

.carrousel-slide-2 {
    display: none;
    background-image: url(imagenes/im2/dots\ campamernto.jpg);
}

.carrousel-slide-3 {
    display: none;
    background-image: url(imagenes/group.jpg);
}

.carrousel-slider div.slide-active {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    
    
}

.carrousel-prev,
.carrousel-next {
    position: absolute;
    height: 100%;
    width: 3.75rem;
    background: transparent;
    font-size: 1.875rem;
    color: rgba(255, 255, 255, 0.473);
    cursor: pointer;
    transition: background-color .1s ease-in;
}
.carrousel-prev:hover,
.carrousel-next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.carrousel-prev {
    left: 0rem;
}

.carrousel-next {
    right: 0rem;
}

.carrousel-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3.125rem;
}

.aboutgame h1 {
    font-family: OpenSans;
    font-size: 2em;
    color: white;

    font-weight: normal;
}

.aboutgame pre {
    font-family: Depot New;
    font-size: 1.1em;
    color: white;
    white-space: pre-line;
    font-weight: normal;
}

.aboutgame {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 1.875rem;
}
