.carrousel {
    position: relative;
    width: 1300px;
    height: 290px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /*border: 1px solid rgb(29, 27, 27);*/
}


.carrousel-slider img {
width: 100%;
display: none;
height: 100%;
}

.carrousel-slider img.slide-active {  
display: block;

}

.carrousel-prev, .carrousel-next{
    position: absolute;
    background: transparent;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.473);
    top: 50%;
    cursor: pointer;

}

.carrousel-prev {
    left: 10px;
}


.carrousel-next {
    right: 10px;
}